services:
    server:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - 8000:80
        networks:
            - app-network
        volumes:
            - ./:/var/www
            - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
        depends_on:
            - app

    db:
        image: mysql:5.7.33
        restart: unless-stopped
        ports:
            - 3307:3306
        environment:
            MYSQL_DATABASE: $DB_DATABASE
            MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
            MYSQL_USER: $DB_USERNAME
            MYSQL_PASSWORD: $DB_PASSWORD
        networks:
            - app-network
        volumes:
            - dbdata:/var/lib/mysql

    app:
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        networks:
            - app-network
        volumes:
            - ./:/var/www
        ports:
            - 9006:9005

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        restart: unless-stopped
        ports:
            - 8080:80
        environment:
            PMA_HOST: db
            PMA_USER: root
            PMA_PASSWORD: $DB_PASSWORD
        networks:
            - app-network

    node:
        image: node:15-alpine
        working_dir: /var/www
        volumes:
            - ./:/var/www
            - /var/www/node_modules
        command: sh /var/www/node_start.sh
        depends_on:
            - app

networks:
    app-network:
        driver: bridge

volumes:
    dbdata:
